.test__section {
  margin-top: 3.5rem;
  /* background-color: #cbffccb7; */
  padding: 3.5rem 0;
  /* overflow: hidden; */
}

.cust__contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}

.cust__content h2 {
  font-size: 3.5rem;
  color: var(--green-color);
}

/* .cust__content p {
  color: var();
} */

.test__container {
  margin-top: 3rem;
}

.test__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  /* transition: all 0.5s ease; */
  /* overflow: hidden; */
}

/* Fade + Slide Animation */
.fade-slide {
  animation: fadeSlide 0.6s ease;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Cards */
.text__cards {
  padding: 20px;
  border-radius: 12px;
  background: var(--white-color);
  color: var(--green-color);
  box-shadow: var(--box-shadow);
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  background: var(--green-color);
  color: var(--white-color);
  padding: 8px 14px;
  cursor: pointer;
}

.pagination button.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

/* Dots */
.dots {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--light-green-color);
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background: #fff;
  transform: scale(1.2);
}
